.header{
    margin-top: 40px;
    display: block;
    margin-left: 18%;
}
.list-item{
    font-family: 'Merienda';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #fff;
    cursor: pointer;
}
.list-item:hover{
    color: red;
}
.list{
    width: 376px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    position: relative;
    margin-bottom: 30px;
}

.logo__link{
    margin-top: -10px;
    cursor: pointer;
}
.logo__link:hover{
    opacity: 0.75;
}